body{
    background-color: rgb(165, 168, 168);
    border-radius: 10px;
}

#header{
    background-color: aquamarine;
    height: 30px;
    padding: 20px;
    border-radius: 10px;
}

#add_c{
    display: flex;
    justify-content: center;

}

#add_button{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    width: 100px;
}

#library{
    display: flex;
    border-radius: 10px;
    padding: 10px 10px 10px 5px;
    padding-left: 50px;
    min-height: 150px;
    flex-wrap: wrap;
    align-items: flex-start;
}


.book_c{
    background-color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    max-width: 200px;
    max-height: 150px;
    min-width: 200px;
    min-height: 150px;
}

.status{
    width: 25px;
    height: 25px;
}

.star{
    width: 25px;
    height: 25px;
    margin-left: 25px;
}

.status_container{
    margin-top: 35px;
    justify-content: center;
    flex-direction: row;
    display: flex;
}

.del_button{
    width: 10px;
    height: 10px;
}

.del_c{
    display: flex;
    justify-content: flex-end;
}

.form_c{
    margin: auto;
    align-self: center; 
    position: absolute;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    background-color: azure;
    padding: 20px;
    border-radius: 10px;
}


body {
    display:flex;
    flex-direction: column;
  }

  input{
      margin-top: 5px;
  }

  .sub_button{
    margin-top: 5px;
    height: 35px;
    min-width: 50px;
    align-self: center;
  }

  h5{
      margin: 0px;
      margin-top: 5px;
  }